/* arrow icons */
icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  /* font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  /* font-size: 1em;
  font-weight: 300;
  line-height: 1.5; */
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}
/* 
.header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

.header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
} */

/* header #logo .icon {
  padding-right: 0.25em;
} */
/* 
main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
} */

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.flexContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
/* .col-start {
  display: inline-block;
  justify-content: flex-start;
  text-align: left;
} */

/* .col-center {
  display: inline-block;
  justify-content: center;
  text-align: center;
} */

/* .col-end {
  display: inline-block;
  justify-content: flex-end;
  text-align: right;
} */

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  padding: 2rem 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  /* color: var(--main-color); */
}

.calendar .header .icon:first-of-type {
  margin-left: 2rem;
}

.calendar .header .icon:last-of-type {
  margin-right: 2rem;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 60%;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

@media (max-width: 600px) {
  /* for cells */
  .calendar .days {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-color-light);
    font-size: 50%;
    padding: 0.75rem 0;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
  }
}

.calendar .body .cell {
  position: relative;
  height: 5.5rem;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}
/* media query */
@media (max-width: 600px) {
  /* for cells */
  .calendar .body .cell {
    position: relative;
    height: 3.5rem;
    border-right: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
    background: var(--neutral-color);
    transition: 0.25s ease-out;
  }
}

/* 가장 큰 div인 calendar 내의 div인 body 내의 css명을 작성하면 스타일이 적용된다. */
/* .calendar .body .hasTodo {
  background-color: lightgrey;
} */

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  /* border-left: 4px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1; */
  /* background-color: darkgray; */

  border: 1px solid #191919;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  /* position: absolute; */
  font-size: 90%;
  line-height: 1;
  top: 0.75rem;
  right: 0.75rem;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8rem;
  position: absolute;
  top: -0.2rem;
  right: -0.05rem;
  transition: 0.25s ease-out;
  letter-spacing: -0.07rem;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.Sunday {
  color: red;
}

.Saturday {
  color: blue;
}

.Monday,
.Tuesday,
.Wednesday,
.Thursday,
.Friday {
  color: black;
}
