body {
  margin: 0;
  padding: 0;
  font-family: "Gamja Flower", cursive;
  min-height: 100%;
  min-width: 360px;
  background-color: white !important;
}

/* 할 일의 수를 표시해주는 배지 - 완료되지 않은 것들 */
.badge1[databadge]:after {
  content: attr(databadge);
  position: absolute;
  top: 3px;
  right: 1px;
  font-size: 0.9em;
  background: #e53935;
  color: white;
  width: 10px;
  /* height: 18px; */
  height: 20px;
  text-align: center;
  line-height: 20px;
  /* border-radius: 50%; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  /* box-shadow: 0 0 1px #333; */
}

.badge1[databadge="0"]:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 1px;
  font-size: 0.9em;
  background: transparent;
  color: white;
  width: 10px;

  height: 20px;
  text-align: center;
  line-height: 20px;

  border: 1px solid lightgray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 0;
}

/* 완료 배지 */

.badge2[databadgedone]:after {
  content: attr(databadgedone);
  position: absolute;
  top: 3px;
  right: 11px;
  font-size: 0.9em;
  background: #4caf50;
  color: white;
  width: 12px;

  height: 20px;
  text-align: center;
  line-height: 20px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.badge2[databadgedone="0"]:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 11px;
  font-size: 0.9em;
  background: transparent;
  color: white;
  width: 10px;

  height: 20px;
  text-align: center;
  line-height: 20px;

  border: 1px solid lightgray;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 0;
}
