body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", cursive;
  min-height: 100%;
  min-width: 360px;
  background-color: white !important;
}

/* 할 일의 수를 표시해주는 배지 - 완료되지 않은 것들 */
.badge1[databadge]:after {
  content: attr(databadge);
  position: absolute;
  top: 6px;
  right: 4px;
  font-size: 0.9rem;
  background: #bdbdbd;
  color: transparent;
  width: 10px;
  height: 20px;
  text-align: center;
  line-height: 20px;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: rotate(50deg);
  /* box-shadow: 0 0 1px #333; */
}

.badge1[databadge="0"]:after {
  content: "";
  position: absolute;
  top: 6px;
  right: 4px;
  font-size: 0.9em;
  background: transparent;
  color: white;
  width: 10px;

  height: 20px;
  text-align: center;
  line-height: 20px;

  border: 1px solid lightgray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* 완료 배지 */

.badge2[databadgedone]:after {
  content: attr(databadgedone);
  position: absolute;
  top: -2px;
  right: 11px;
  font-size: 0.9rem;
  background: #4caf50;
  color: transparent;
  width: 10px;

  height: 20px;
  text-align: center;
  line-height: 20px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: rotate(50deg);
}

.badge2[databadgedone="0"]:after {
  content: "";
  position: absolute;
  top: -2px;
  right: 11px;
  font-size: 0.9em;
  background: transparent;
  color: transparent;
  width: 10px;

  height: 20px;
  text-align: center;
  line-height: 20px;

  border: 1px solid lightgray;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* border-right: 0; */
}

.badge1Text[databadge]:after {
  position: absolute;
  content: attr(databadge);
  font-size: 0.5em;
  top: 11px;
  right: 6px;
  z-index: 5;
  color: white;
}

.badge1Text[databadge="0"]:after {
  position: absolute;
  content: attr(databadge);
  font-size: 0.5em;
  top: 12px;
  right: 5px;
  z-index: 5;
  color: transparent;
}

.badge2Text[databadgedone]:after {
  position: absolute;
  content: attr(databadgedone);
  font-size: 0.5em;
  top: 3px;
  right: 12px;
  z-index: 5;
  color: white;
}

.badge2Text[databadgedone="0"]:after {
  position: absolute;
  content: attr(databadgedone);
  font-size: 0.5em;
  top: 4px;
  right: 12px;
  z-index: 5;
  color: transparent;
}
