body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", cursive;
  min-height: 100%;
  min-width: 360px;
  background-color: white !important;
}

.contents {
  display: inline-block;
  position: absolute;

  width: 60px;
  height: 60px;
  margin: 0;
  margin-right: -50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 할 일의 수를 표시해주는 배지 - 완료되지 않은 것들 */

.badge1[databadge]:after {
  content: attr(databadge);
  position: absolute;
  top: 19px;
  left: 28px;
  /* margin-right: -50%; */

  font-size: 0.9rem;
  background: #bdbdbd;
  color: transparent;
  width: 1rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;

  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transform: rotate(50deg);
}
/* .badge1[databadge]:after {
  content: attr(databadge);
  position: absolute;
  top: 6px;
  right: 4px;
  font-size: 0.9rem;
  background: #bdbdbd;
  color: transparent;
  width: 10px;
  height: 20px;
  text-align: center;
  line-height: 20px;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: rotate(50deg);
} */

.badge1[databadge="0"]:after {
  content: "";
  position: absolute;

  top: 19px;
  left: 28px;
  font-size: 0.9em;
  background: transparent;
  color: transparent;
  width: 1rem;

  height: 2rem;
  text-align: center;
  line-height: 2rem;

  border: 1px solid lightgray;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* 완료 배지 */

.badge2[databadgedone]:after {
  content: attr(databadgedone);
  position: absolute;
  top: 5px;
  left: 16px;
  /* margin-right: -50%; */

  font-size: 0.9rem;
  background: #4caf50;
  color: transparent;
  width: 1rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;

  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transform: rotate(50deg);
}

/* .badge2[databadgedone]:after {
  content: attr(databadgedone);
  position: absolute;
  top: -2px;
  right: 11px;
  font-size: 0.9rem;
  background: #4caf50;
  color: transparent;
  width: 10px;

  height: 20px;
  text-align: center;
  line-height: 20px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: rotate(50deg);
} */

.badge2[databadgedone="0"]:after {
  content: "";
  position: absolute;

  top: 5px;
  left: 16px;
  font-size: 0.9em;
  background: transparent;
  color: transparent;
  width: 1rem;

  height: 2rem;
  text-align: center;
  line-height: 2rem;

  border: 1px solid lightgray;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.badge1Text[databadge]:after {
  position: absolute;
  content: attr(databadge);
  font-size: 0.9em;
  top: 27px;
  left: 31px;
  z-index: 5;
  color: white;
}

.badge1TextOverTen[databadge]:after {
  position: absolute;
  content: attr(databadge);
  font-size: 0.9em;
  top: 27px;
  left: 27px;
  z-index: 5;
  color: white;
}

.badge1Text[databadge="0"]:after {
  position: absolute;
  content: attr(databadge);
  font-size: 0.5em;
  top: 12px;
  right: 5px;
  z-index: 5;
  color: transparent;
}

.badge2Text[databadgedone]:after {
  position: absolute;
  content: attr(databadgedone);
  font-size: 0.9rem;
  top: 12px;
  left: 21px;
  /* margin-right: -50%; */

  z-index: 5;
  color: white;
}

.badge2TextOverTen[databadgedone]:after {
  position: absolute;
  content: attr(databadgedone);
  font-size: 0.8rem;
  top: 13px;
  left: 17px;
  /* margin-right: -50%; */

  z-index: 5;
  color: white;
}

.badge2Text[databadgedone="0"]:after {
  position: absolute;
  content: attr(databadgedone);
  font-size: 0.5em;
  top: 4px;
  right: 12px;
  z-index: 5;
  color: transparent;
}

/* ************************* */

/* media query */
@media (max-width: 600px) {
  .contents {
    display: inline-block;
    position: absolute;

    width: 60px;
    height: 60px;
    margin: 0;
    margin-right: -50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* 할 일의 수를 표시해주는 배지 - 완료되지 않은 것들 */

  .badge1[databadge]:after {
    content: attr(databadge);
    position: absolute;
    top: 21px;
    left: 30px;
    /* margin-right: -50%; */

    font-size: 0.9rem;
    background: #bdbdbd;
    color: transparent;
    width: 0.9rem;
    height: 1.8rem;
    text-align: center;
    line-height: 2rem;

    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    transform: rotate(50deg);
  }

  .badge1[databadge="0"]:after {
    content: "";
    position: absolute;

    top: 21px;
    left: 30px;
    font-size: 0.9em;
    background: transparent;
    color: transparent;
    width: 0.9rem;

    height: 1.8rem;
    text-align: center;
    line-height: 2rem;

    border: 1px solid lightgray;
    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
  }

  /* 완료 배지 */

  .badge2[databadgedone]:after {
    content: attr(databadgedone);
    position: absolute;
    top: 9px;
    left: 20px;
    /* margin-right: -50%; */

    font-size: 0.9rem;
    background: #4caf50;
    color: transparent;
    width: 0.9rem;
    height: 1.8rem;
    text-align: center;
    line-height: 2rem;

    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
    transform: rotate(50deg);
  }

  .badge2[databadgedone="0"]:after {
    content: "";
    position: absolute;

    top: 9px;
    left: 20px;
    font-size: 0.9em;
    background: transparent;
    color: transparent;
    width: 0.9rem;

    height: 1.8rem;
    text-align: center;
    line-height: 2rem;

    border: 1px solid lightgray;
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
  }

  .badge1Text[databadge]:after {
    position: absolute;
    content: attr(databadge);
    font-size: 0.8em;
    top: 28px;
    left: 33px;
    z-index: 5;
    color: white;
  }

  .badge1TextOverTen[databadge]:after {
    position: absolute;
    content: attr(databadge);
    font-size: 0.8em;
    top: 28px;
    left: 28px;
    z-index: 5;
    color: white;
  }

  .badge1Text[databadge="0"]:after {
    position: absolute;
    content: attr(databadge);
    font-size: 0.5em;
    top: 12px;
    right: 5px;
    z-index: 5;
    color: transparent;
  }

  .badge2Text[databadgedone]:after {
    position: absolute;
    content: attr(databadgedone);
    font-size: 0.8rem;
    top: 15px;
    left: 24px;
    /* margin-right: -50%; */

    z-index: 5;
    color: white;
  }

  .badge2TextOverTen[databadgedone]:after {
    position: absolute;
    content: attr(databadgedone);
    font-size: 0.8rem;
    top: 15px;
    left: 19px;
    /* margin-right: -50%; */

    z-index: 5;
    color: white;
  }

  .badge2Text[databadgedone="0"]:after {
    position: absolute;
    content: attr(databadgedone);
    font-size: 0.5em;
    top: 4px;
    right: 12px;
    z-index: 5;
    color: transparent;
  }
}
